{% extends 'base.html' %}

{% block content %}
<h1>{{ photo.title }}</h1>
<img src="{{ photo.image.url }}" alt="{{ photo.title }}">
<p>{{ photo.description }}</p>
<p>Tags: {{ photo.tags }}</p>
<p>Likes: {{ photo.likes.count }}</p>
<form action="{% url 'like_photo' photo_id=photo.id %}" method="post">
    {% csrf_token %}
    <button type="submit">
        {% if user in photo.likes.all %}
            Unlike
        {% else %}
            Like
        {% endif %}
    </button>
</form>
{% endblock %}
